.main{
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  color: white;
}
#input{
  height: 20%;
  width: 100%;
  background-color: black;
}
#button{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 90%;
  grid-template-rows: repeat(5,18%);
  

}
.buttons1{
  width: 100%;
  height: 100%;
}
#input{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}